/*
 Theme Name:   Hive (Hexa Child Theme)
 Theme URI:    https://gitlab.com/pigeonisdove/hive
 Description:  Hive, a honey-bee-centric child theme for Hexa
 Author:       pigeonisdove
 Author URI:   https://gitlab.com/pigeonisdove
 Template:     hexa
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: one-column, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, post-formats, rtl-language-support, sticky-post, translation-ready, blog, honey-bees
 Text Domain:  hive
*/

/*
 * Styles for custom child theme elements
 */

div#sub-footer{
 display:block;
}

nav#footer-nav{
 display: block;
}

nav#footer-nav ul {
 float:left;
}

nav#footer-nav ul li a {
 color: inherit;
}

nav#footer-nav ul li a:hover,
div.site-info a:hover {
 color: #3a3a3a;
}

div.site-info {
 float:right;
}
.site-info a {
 text-decoration:overline;
}

/*
 * Styles for color palette
 */

.menu a {
 font-size: 18px;
}


body {
 color:#6a524a
}
.panel .widget-areas .widget-area .widget_goodreads a {
 color:#000
}
.site-description,
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.comment-navigation .nav-previous a:visited,
.comment-navigation .nav-next a:visited {
 color:#756d5c
}
.entry-meta,
.entry-meta a,
.entry-meta a:visited,
.entry-meta a:hover,
.pingback .edit-link,
.trackback .edit-link,
#cancel-comment-reply-link,
.reply,
.comment-metadata,
.comment-metadata a,
.comment-metadata a:visited {
 color:#a69e8d
}
#infinite-footer .container,
#infinite-footer .container a,
#infinite-footer .container a:visited,
#infinite-footer .container a:hover {
 color:#756d5c
}
.entry-format:before {
 color:#3a3a3a
}
#infinite-handle span:hover,
#infinite-handle span:focus {
 color:#3a3a3a
}
.page-links span.active-link {
 color:#3a3a3a
}
.main-navigation a,
.main-navigation a:visited {
 color:#3a3a3a
}
.main-navigation a:hover {
 color:#fff;
}
.post-navigation a:hover:before,
.paging-navigation a:hover:before {
 color:#3a3a3a
}
.social-links ul a:before {
 color:#3a3a3a
}
.panel .search-wrapper input[type=submit],
.panel .search-wrapper input[type=submit]:hover {
 color:#3a3a3a
}
.panel .widget-areas .widget-area,
.panel .widget-areas .widget-area .widget .widget-title,
.panel .widget-areas .widget-area .widget h1,
.panel .widget-areas .widget-area .widget h2,
.panel .widget-areas .widget-area .widget h3,
.panel .widget-areas .widget-area .widget h4,
.panel .widget-areas .widget-area .widget h5,
.panel .widget-areas .widget-area .widget h6,
.panel .widget-areas .widget-area .widget a,
.panel .widget-areas .widget-area .widget a:visited {
 color:#3a3a3a
}
.toggles #menu-toggle:before {
 color:#3a3a3a
}
#infinite-handle span {
 color:#000
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
 color:#000
}
.page-links a span.active-link,
.page-links a:hover span.active-link {
 color:#000
}
.hentry.sticky .entry-format:before {
 color:#000
}
.hentry.format-link .entry-format:before {
 color:#000
}
.toggles #search-toggle:before {
 color:#000
}
.post-navigation,
.paging-navigation,
.post-navigation a:before,
.paging-navigation a:before {
 color:#000
}
.main-navigation ul ul a,
.main-navigation ul ul a:visited {
 color:#3a3a3a
}
.hentry.format-image .entry-format:before,
.hentry.format-gallery .entry-format:before {
 color:#000
}
.hentry.format-audio .entry-format:before,
.hentry.format-video .entry-format:before {
 color:#000
}
.toggles #sidebar-toggle:before {
 color:#000
}
.toggles #social-links-toggle:before {
 color:#545454
}
.hentry.format-status .entry-format:before,
.hentry.format-quote .entry-format:before {
 color:#545454
}
body,
.wp-caption {
 background-color:#fff
}
#infinite-footer .container {
 background-color:#fff
}
img.alignleft,
.wp-caption.alignleft,
.comment-author .avatar-wrapper {
 border-color:#fff
}
.toggles #social-links-toggle {
 background-color:#fbce11
}
.toggles #social-links-toggle:before {
 border-right-color:#fbce11
}
.toggles #social-links-toggle:after {
 border-left-color:#fbce11
}
.hentry.format-status,
.hentry.format-quote {
 border-color:#fbce11
}
.hentry.format-status .entry-format,
.hentry.format-quote .entry-format {
 background-color:#fbce11
}
.hentry.format-status .entry-format:before,
.hentry.format-quote .entry-format:before {
 border-right-color:#fbce11
}
.hentry.format-status .entry-format:after,
.hentry.format-quote .entry-format:after {
 border-left-color:#fbce11
}
.hentry.format-image,
.hentry.format-gallery {
 border-color:#d04e02
}
.hentry.format-image .entry-format,
.hentry.format-gallery .entry-format {
 background-color:#d04e02
}
.hentry.format-image .entry-format:before,
.hentry.format-gallery .entry-format:before {
 border-right-color:#d04e02
}
.hentry.format-image .entry-format:after,
.hentry.format-gallery .entry-format:after {
 border-left-color:#d04e02
}
.toggles #sidebar-toggle {
 background-color:#d04e02
}
.toggles #sidebar-toggle:before {
 border-right-color:#d04e02
}
.toggles #sidebar-toggle:after {
 border-left-color:#d04e02
}
blockquote {
 color:#c04700
}
a.more-link {
 color:#c04700
}
.hentry.format-audio {
 border-color:#fc6107
}
.hentry.format-audio .entry-format {
 background-color:#fc6107
}
.hentry.format-audio .entry-format:before {
 border-right-color:#fc6107
}
.hentry.format-audio .entry-format:after {
 border-left-color:#fc6107
}
.jetpack-recipe,
.jetpack-recipe-title {
 border-color:#d04e02
}
.hentry.format-video {
 border-color:#fc6107
}
.hentry.format-video .entry-format {
 background-color:#fc6107
}
.hentry.format-video .entry-format:before {
 border-right-color:#fc6107
}
.hentry.format-video .entry-format:after {
 border-left-color:#fc6107
}
a.more-link:hover {
 color:#c04700
}
.wp-caption-text {
 color:#c04700
}
.hentry {
 border-color:#fb9300
}
.entry-format:before {
 border-right-color:#fb9300
}
.entry-format:after {
 border-left-color:#fb9300
}
.entry-format {
 background-color:#fb9300
}
.panel .search-wrapper input[type=submit],
.panel .search-wrapper input[type=submit]:hover {
 background-color:#fb9300
}
#infinite-handle span:hover,
#infinite-handle span:focus {
 background-color:#fb9300
}
.panel {
 background-color:#fb9300
}
.site-header {
 border-color:#fb9300
}
.toggles #menu-toggle {
 background-color:#fb9300
}
.toggles #menu-toggle:before {
 border-right-color:#fb9300
}
.toggles #menu-toggle:after {
 border-left-color:#fb9300
}
.page-links span.active-link,
.page-links a:hover span.active-link {
 background-color:#fb9300
}
.infinite-loader {
 border-color:#fb9300
}
blockquote {
 border-color:#fb9300
}
.post-navigation a:hover:before,
.paging-navigation a:hover:before {
 background-color:#fb9300
}
.entry-title,
.entry-title a,
.entry-title a:visited,
.site-title a,
.site-title a:visited,
.comment-author,
.comment-author a:hover {
 color:#fb9300
}
a,
a:visited {
 color:#a35f00
}
.site-title a:hover,
.entry-title a:hover {
 color:#d04e02;
}
.hentry.sticky {
 border-color:#d04e02
}
.comment .comment .avatar-wrapper {
 border-color:#d04e02
}
.hentry.sticky .entry-format {
 background-color:#d04e02
}
.hentry.sticky .entry-format:before {
 border-right-color:#d04e02
}
.hentry.sticky .entry-format:after {
 border-left-color:#d04e02
}
.toggles #search-toggle {
 background-color:#d04e02
}
.toggles #search-toggle:before {
 border-right-color:#d04e02
}
.toggles #search-toggle:after {
 border-left-color:#d04e02
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
 background-color:#d04e02
}
#infinite-handle span {
 background-color:#d04e02
}
.page-links a span.active-link {
 background-color:#d04e02
}
.main-navigation ul ul:before {
 border-bottom-color:#d04e02
}
.main-navigation li li {
 background-color:#d04e02
}
.post-navigation,
.paging-navigation {
 background-color:#d04e02
}
.site-footer,
.comments-area {
 border-color:#d04e02
}
.page-header,
.comments-title {
 border-color:#d04e02
}
.site-footer,
.site-footer a,
.site-footer a:visited {
 color:#c04700
}
.page-title,
.comments-title {
 color:#d04e02
}
a:hover {
 color:#c04700
}
.hentry.format-link {
 border-color:#fc6107
}
.hentry.format-link .entry-format {
 background-color:#fc6107
}
.hentry.format-link .entry-format:before {
 border-right-color:#fc6107
}
.hentry.format-link .entry-format:after {
 border-left-color:#fc6107
}
h1,
h2,
h3,
h4,
h5,
h6 {
 color:#d04e02
}

